.room-nav {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 15px;
  color: #4a90e2;
  li {
    font-size: 18px;
    padding: 10px;
    a:hover {
      color: #4a90e2;
      text-decoration: none;
    }
  }
}

.room-nav-pc {
  height: 100vh;
  .active {
    border-right: 3px solid #4a90e2;
    a { color: #4a90e2; }
  }
}

.room-nav-mobile {
  height: auto;
  li { float: left; }
  .active {
    border-bottom: 3px solid #4a90e2;
    a { color: #4a90e2; }
  }
}
